.GameProgress {
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    border: 2px solid #f3722c;
    border-radius: 7px;
}