.card {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    /* padding-top: 15px; */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #577590;
    border-radius: 5px;
    text-align: center;
    background-color: #577590;
    cursor: pointer;
    user-select: none;
}

.img {
    width: 50px;
    /* color: brown; */
}

.card:hover {
    border: 2px solid #f3722c;
    /* background-color: rgb(5, 162, 45); */
}

.opened {
    border: 3px solid #f9c74f;
    background-color: #f94144;
}

.disabled {
    background-color: #f9c74f;
}