.levels {
    display: inline-flex;
    width: 100%;
}

.levelsSet {
    border: 2px solid #f8961e;
    border-radius: 7px;
    display: inline-flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 10px;

}

.createGame {
    width: 25%;
    margin: 10px;
}